<!--@AH_VACKintosh Just the card that holds the twitter graphs-->
<mdb-card>
    <mdb-card-body>
        <mdb-card-title><span style="font-size: 20px;" class="underline">BTS ARMY Twitter Retweet Activity</span></mdb-card-title>
        <mdb-card-text>
            <p id="retweetsCountChart">
                <!-- Put the content here -->
            </p>
            <p>The number of retweets that posts in #BTS on Twitter have gotten over the past seven days</p>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>

