<!--@AH_VACKintosh This is the page that all the components on the public view go into-->
<!-- This is the collapsable about section -->
<div class="container-fluid">
    <div class="row">
      <div class="bufferbox">
        <div class="aboutbox">
          <app-about-section></app-about-section>
        </div>
      </div>
    </div>
    
    <div class="bufferbox">
      <!-- First Row -->
      <div class="row">
        <div class="col-md">
         <app-youtube-carousel></app-youtube-carousel>
        </div>
        <!-- This column is constrained to fit the spotify player -->
        <div class="col-md" style="max-width: 370px;">
          <app-spotify-card></app-spotify-card>
        </div>
      </div>
      <!-- End First Row -->
    </div>
  
    <div class="bufferbox">
      <!-- Second Row-->
      <div class="row">
        <div class="col-md">
          <app-twitter-card></app-twitter-card>
        </div>
        
      </div>
      <!-- End Second Row-->
    </div>
  </div>
