<button mdbBtn gradient="purple" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
    About BTS
  </button>
  
  <div class="" mdbCollapse #test="bs-collapse">
    <p>BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean boy band that began formation in 2010 and debuted in 2013 under Big Hit Entertainment. 
        The septet—composed of Jin, Suga, J-Hope, RM, Jimin, V, and Jungkook—co-writes and co-produces much of their own output. Originally a hip hop group, their musical style has evolved to include a wide 
        range of genres. Their lyrics, often focused on personal and social commentary, touch on the themes of mental health, troubles of school-age youth, loss, the journey towards loving oneself, and individualism. 
        Their work features references to literature and psychological concepts and includes an alternative universe storyline. The group has released several albums and performed on several world tours. </p>
    <p>This article uses material from the Wikipedia article <a href="https://en.wikipedia.org/wiki/BTS" target="_blank" rel="noopener noreferrer">"BTS"</a>, which is released under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution-Share-Alike License 3.0</a>.</p>
  </div>
