<!-- Footer -->
<footer class="page-footer font-small purple-gradient pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">BTS Dashboard</h5>
          <p>Hi! This is a dashboard that shows BTS content across different social media platforms, all in one convenient spot.
            We're still under construction right now, but coming soon we will have YouTube, Twitter, and news articles all available on our home page. 
          </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">


      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">by Team VACKintosh
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

