<!-- Footer -->
<footer class="page-footer font-small purple-gradient pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">About Us</h5>
          <p>Hi! We're the four person team behind the creation of this website. Check out our individual pages to see what other cool things we're working on!
          </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->

          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/VladTsimoshchanka"><u>Vlad Tsimoshchanka</u></a>
            </li>
            <p></p>
            <li>
              <a href="https://github.com/hintona"><u>Alex Hinton</u></a>
            </li>
            <p></p>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->

          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/WConnar"><u>Connar Williams</u></a>
            </li>
            <p></p>
            <li>
              <a href="https://github.com/KarlD7"><u>Karl Miguel Dinang</u></a>
            </li>
            <p></p>
          </ul>

        </div>

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">by Team VACKintosh
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

