p.roundbox {
    border: 5px solid black;
    text-align: left;
    font-size: 40px;
    padding: 20px;
    width: auto;
    height: auto;
    background:white;
}

.column {
    float: left;
    padding: 10px;
    border: 10px solid #7c40ff;
    background:white;
  }
  
  .left {
    width: 15%;
    height: 500px;
  }

  .middle {
    width: 42.5%;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
