<!--@AH_VACKintosh and //@VT_VACKINTOSH. Just the card that holds the spotify graphs-->

<mdb-card>
    <mdb-card-body>
        <mdb-card-title><span style="font-size: 20px;" class="underline">Top 10 BTS Tracks Worldwide </span></mdb-card-title>
        <mdb-card-text>
            <p>Each track track is rated by Spotify by popularity which is a combination of total playbacks for the track and how recent it is</p>
            
            <p id="topTracksGlobal">
                <!-- Put the graph here -->
            </p>
        </mdb-card-text>
        <mdb-card-title><span style="font-size: 20px;" class="underline">Top 10 Tracks for Each of Top BTS Streaming Countries </span></mdb-card-title>
        <mdb-card-text>
            <p>The top ten tracks for each of the top BTS streaming countries world-wide</p>
            <p id="topTracksUS">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksMX">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksPH">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksTH">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksIN">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksBR">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksKR">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksMY">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksJP">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksID">
                <!-- Put the graph here -->
            </p>
            
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>
