<!--@AH_VACKintosh and //@VT_VACKINTOSH. Just the card that holds the spotify graphs-->

<mdb-card>
    <mdb-card-body>
        <mdb-card-title><span style="font-size: 20px;" class="underline">Dynamite Audio Features from Spotify </span></mdb-card-title>
        <mdb-card-text>
            
            <p>The data is taken from the official Spotify Database</p>
            <p id="AudioFeatures">
                <!-- Put the graph here -->
            </p>
        </mdb-card-text>
        <mdb-card-title><span style="font-size: 20px;" class="underline">Top 10 Tracks for Each of Top BTS Streaming Countries </span></mdb-card-title>
        <mdb-card-text >
            <p>The top ten tracks for each of the top BTS streaming countries world-wide</p>
            <p>The data is taken from the official Spotify Database</p>
            <div class = "grid">
            <p id="topTracksUS">
                <!-- Put the graph here -->
            </p>
            
            <p id="topTracksMX">
                <!-- Put the graph here -->
            </p>
            
            <p id="topTracksPH">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksTH">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksIN">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksBR">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksKR">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksMY">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksJP">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksID">
                <!-- Put the graph here -->
            </p>
        </div>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>
