<mdb-card>
    <mdb-card-body>
        <mdb-card-title><span style="font-size: 20px;" class="underline">Top Spotify Tracks by Region</span></mdb-card-title>
        <mdb-card-text>
            <p id="topTracksUS">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksMX">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksCA">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksGB">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksDE">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksFR">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksKR">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksCN">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksJP">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksAU">
                <!-- Put the graph here -->
            </p>
            <p id="topTracksZA">
                <!-- Put the graph here -->
            </p>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>
