<div class="container-fluid">
    <div class="bufferbox">
        <!-- Top card -->
        <mdb-card>
            <mdb-card-body style="text-align: center;">
                <mdb-card-title><p>Preferences</p></mdb-card-title>
                <mdb-card-text>Select what you want to have on your personal page</mdb-card-text>
                <button type="button" mdbBtn gradient="purple" mdbWavesEffect (click)="saveThis()" routerLink="/user">Save & Return</button>
                <!--<p>Testing statements, remove later: {{trendingTweets}},{{timeTweets}},{{regionTweets}},{{timeSpotify}},{{regionSpotify}}</p>
                <div *ngIf="auth.user | async as user">
                    Hi, {{ user.displayName }}!
                  </div>-->
            </mdb-card-body>
        </mdb-card>
    </div>

    <div class="card-deck bufferbox">
        <!-- Twitter preferences card -->
        <mdb-card>
            <mdb-card-body>
                <mdb-card-title><p>Twitter</p></mdb-card-title>
                <mdb-card-text>
                    <p><mat-checkbox color="primary" (change)="onChanged(trendingTweetsName,$event.checked)" [checked]="trendingTweets">{{trendingTweetsName}}</mat-checkbox></p>
                    <p><mat-checkbox color="primary" (change)="onChanged(regionTweetsName,$event.checked)" [checked]="regionTweets">{{regionTweetsName}}</mat-checkbox></p>
                    <p><mat-checkbox color="primary" (change)="onChanged(timeTweetsName,$event.checked)" [checked]="timeTweets">{{timeTweetsName}}</mat-checkbox></p>
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>

        <!-- Spotify preferences card-->
        <mdb-card>
            <mdb-card-body>
                <mdb-card-title><p>Spotify</p></mdb-card-title>
                <mdb-card-text>
                    <p><mat-checkbox color="primary" (change)="onChanged(regionSpotifyName,$event.checked)" [checked]="regionSpotify">{{regionSpotifyName}}</mat-checkbox></p>
                    <p><mat-checkbox color="primary" (change)="onChanged(timeSpotifyName,$event.checked)" [checked]="timeSpotify">{{timeSpotifyName}}</mat-checkbox></p>
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>