<!-- This is the top nav bar and banner image -->
<app-nav-bar></app-nav-bar>

<!-- This is the collapsable about section -->
<div class="container-fluid">
  <div class="row">
    <div class="bufferbox">
      <div class="aboutbox">
        <app-about-section></app-about-section>
      </div>
    </div>
  </div>
  
  <div class="bufferbox">
    <!-- First Row -->
    <div class="row">
      <div class="col-md">
       <app-youtube-carousel></app-youtube-carousel>
      </div>
      <div class="col-md">
        <app-news-card></app-news-card>
      </div>
    </div>
    <!-- End First Row -->
  </div>

  <div class="bufferbox">
    <!-- Second Row-->
    <div class="row">
      <div class="col-md">
        <app-twitter-card></app-twitter-card>
      </div>
      
    </div>
    <!-- End Second Row-->
  </div>
</div>

<!-- This is the site's footer -->
<app-site-footer></app-site-footer>

<router-outlet></router-outlet>
