<!--@AH_VACKintosh Just the card that holds the twitter graphs-->
<mdb-card>
    <mdb-card-body>
        <mdb-card-title><span style="font-size: 20px;" class="underline">BTS ARMY Twitter Activity by Time</span></mdb-card-title>
        <mdb-card-text>
            <p id="activityChart">
            </p>
            <p id="testChart"></p>
            <p id="testChart2"></p>
            <p>An overview of the total likes and retweets in #BTS on Twitter over the past seven days</p>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>

