<div class="bufferbox">
  <p class="titlebox">
    <img src="assets/Banner.jpeg" alt="Banner" width=99% style="margin:10px">
  </p>
</div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-dark purple-gradient sticky-top" [containerInside]="false">
    
    <!-- Collapsible content -->
    <links>
      <mdb-navbar-brand><a class="navbar-brand" href="#">
        <div *ngIf="auth.user | async as user; else elseUser">
          Hi, {{ user.displayName }}!
        </div>
        <ng-template #elseUser>BTS Dashboard</ng-template>
      </a></mdb-navbar-brand>
      <!-- NavBar Content Begins -->
      <ul class="navbar-nav">
        <!-- Home button -->
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/"><mdb-icon fas icon="home"></mdb-icon> Home</a>
        </li>
        <!-- Dashboard button -->
        <li class="nav-item">
          <div *ngIf="loggedIn">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/user"><mdb-icon fas icon="user"></mdb-icon> My Dashboard</a>
          </div>
        </li>
        <!-- Login/Signup button -->
        <li class="nav-item">
          <div *ngIf="!loggedIn">
            <a class="nav-link waves-light" (click)="loginModal.show()" mdbWavesEffect routerLink="/"><mdb-icon fas icon="users"></mdb-icon> Login / Sign Up</a>
          </div>
        </li>
        <!-- Settings button -->
        <li class="nav-item">
          <div *ngIf="loggedIn">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/settings"><mdb-icon fas icon="cogs"></mdb-icon> Settings</a>
          </div>
        </li>
        <!-- Logout button -->
        <li class="nav-item">
          <div *ngIf="loggedIn">
            <a class="nav-link waves-light" (click)="logout()" mdbWavesEffect routerLink="/"><mdb-icon fas icon="sign-out-alt"></mdb-icon> Log out</a>
          </div>
        </li>
      </ul>
    </links>
    <!-- Collapsible content ends -->

  </mdb-navbar>
  <!--/.Navbar-->

  <div mdbModal #loginModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="loginModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Sign In</h4>
        </div>
        <div class="modal-body">
          <!-- Form login start -->
          <form class="text-center border border-light p-5">
            
            <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" name="email" [(ngModel)]="model.email" required>

            
            <input type="password" id="password" class="form-control mb-4" placeholder="Password" name="password" [(ngModel)]="model.password">
            <p *ngIf="errorMessage"><span class="deep-orange-text">{{errorMessage}}</span></p>
            <p *ngIf="accountSuccess"><span class="teal-text">You have logged in! You may now close this window.</span></p>
            
            <button mdbBtn gradient="purple"  class="my-4" type="submit" (click)="elogin(model.email,model.password)">Sign in</button>
            
            <p>
              <button mdbBtn gradient="purple" (click)="loginModal.hide()" (click)="signupModal.show()" class="my-4" type="submit">Not a member? Register</button>
            </p>
            <hr>
            <p>or sign in with:</p>

            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="google" (click)="glogin()" (click)="loginModal.hide()"></mdb-icon>
            </a>

            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="twitter" (click)="tlogin()" (click)="loginModal.hide()"></mdb-icon>
            </a>
          </form>
          <!--Form login end-->
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #signupModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="signupModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <!-- Default form register -->
  <form class="text-center border border-light p-5">

    <!-- Name -->
    <p><input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Name" name="name" [(ngModel)]="model.name" required>
    </p>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name="email" [(ngModel)]="model.email" required>
    
    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" 
     name="password" [(ngModel)]="model.password">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 6 characters, please
    </small>
    <p *ngIf="errorMessage"><span class="deep-orange-text">{{errorMessage}}</span></p>
    <p *ngIf="accountSuccess"><span class="teal-text">You have created an account! You may now close this window.</span></p>
    <!-- Sign up button -->
    <button mdbBtn gradient="purple" class="my-4" type="submit" (click)="signUp(model.email,model.password, model.name)">Sign up</button>
    <hr>
    <!-- Social register -->
    <p>or sign up with:</p>

    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="google" (click)="glogin()" (click)="signupModal.hide()"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter" (click)="tlogin()" (click)="signupModal.hide()"></mdb-icon>
    </a>
  </form>
  <!-- Default form register -->
        </div>
      </div>
    </div>
  </div>
