<div class="bufferbox">
  <p class="titlebox">
    <img src="assets/Banner.jpeg" alt="Banner" width=99% style="margin:10px">
  </p>
</div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-dark purple-gradient sticky-top" [containerInside]="false">
    
    <!-- Collapsible content -->
    <links>
      <mdb-navbar-brand><a class="navbar-brand" href="#">
        <div *ngIf="auth.user | async as user; else elseUser">
          Hi, {{ user.displayName }}!
        </div>
        <ng-template #elseUser>BTS Dashboard</ng-template>
      </a></mdb-navbar-brand>
      <!-- Links -->
      <ul class="navbar-nav">
        <!-- Home button -->
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/"><mdb-icon fas icon="home"></mdb-icon> Home</a>
        </li>
        <!-- Dashboard button -->
        <li class="nav-item">
          <div *ngIf="auth.user | async as user">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/user"><mdb-icon fas icon="user"></mdb-icon> My Dashboard</a>
          </div>
        </li>
        <!-- Login/Signup button -->
        <li class="nav-item">
            <a class="nav-link waves-light" (click)="loginModal.show()" mdbWavesEffect><mdb-icon fas icon="users"></mdb-icon> Login / Sign Up</a>
        </li>
        <!-- Logout button -->
        <li class="nav-item">
          <div *ngIf="auth.user | async as user">
            <a class="nav-link waves-light" (click)="logout()" mdbWavesEffect><mdb-icon fas icon="sign-out-alt"></mdb-icon> Log out</a>
          </div>
        </li>
        <!-- Settings button -->
        <li class="nav-item">
          <div *ngIf="auth.user | async as user">
            <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cogs"></mdb-icon> Settings</a>
          </div>
        </li>
        <!-- Youtube button -->
        <li class="nav-item">
          <a class="nav-link waves-light" href="https://www.youtube.com/channel/UCLkAepWjdylmXSltofFvsYQ" mdbWavesEffect><mdb-icon fab icon="youtube"></mdb-icon> BTS Youtube</a>
        </li>
        <!-- twt Twitter button -->
        <li class="nav-item">
            <a class="nav-link waves-light" href="https://twitter.com/BTS_twt" mdbWavesEffect><mdb-icon fab icon="twitter"></mdb-icon> @BTS_TWT</a>
        </li>
        <!-- bighits Twitter button -->
        <li class="nav-item">
            <a class="nav-link waves-light" href="https://twitter.com/bts_bighit" mdbWavesEffect><mdb-icon fab icon="twitter"></mdb-icon> @BTS_BIGHITS</a>
        </li>
        <!-- Spotify button -->
        <li class="nav-item">
            <a class="nav-link waves-light" href="https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX" mdbWavesEffect><mdb-icon fab icon="spotify"></mdb-icon> BTS Spotify</a>
        </li>
  
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
    

  </mdb-navbar>
  <!--/.Navbar-->

  <div mdbModal #loginModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="loginModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Sign In</h4>
        </div>
        <div class="modal-body">
          <!-- Form login start-->
          <form class="text-center border border-light p-5">
            <!-- Email -->
            <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" id="password" class="form-control mb-4" placeholder="Password">

            <!-- Sign in button -->
            <button mdbBtn gradient="purple"  class="my-4" type="submit">Sign in</button>

            <!-- Register -->
            <p>
              <button mdbBtn gradient="purple" (click)="loginModal.hide()" (click)="signupModal.show()" class="my-4" type="submit">Not a member? Register</button>
            </p>
            <hr>
            <!-- Social login -->
            <p>or sign in with:</p>

            
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="google" (click)="glogin()" (click)="loginModal.hide()"></mdb-icon>
            </a>
            

            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="twitter" (click)="tlogin()" (click)="loginModal.hide()"></mdb-icon>
            </a>
          </form>
          <!-- Form login end-->
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #signupModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="signupModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <!-- Default form register -->
  <form class="text-center border border-light p-5">

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <!-- Last name -->
        <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
      </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>

    <!-- Sign up button -->
    <button mdbBtn gradient="purple" class="my-4" type="submit">Sign up</button>
    <hr>
    <!-- Social register -->
    <p>or sign up with:</p>

    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="google" (click)="glogin()" (click)="signupModal.hide()"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter" (click)="tlogin()" (click)="signupModal.hide()"></mdb-icon>
    </a>
  </form>
  <!-- Default form register -->
        </div>
      </div>
    </div>
  </div>
