/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.titlebox {
    border: 5px solid white;
    text-align: center;
    font-size: 40px;
    background:white;
}

.scroll-box {
  overflow-y: scroll;
  height: 350px;
  padding: 1rem
}

.underline{    
  background: linear-gradient(to left, #7c4dff, #F76FC4 100%);
  background-position: 0 100%;
  border-radius: 20px;
  background-size: 100% 4px;
  background-repeat: repeat-x;
}

.aboutbox{
  border: 3px solid grey;
  border-radius: 5px;
  outline: 10px solid white;
  padding-left:15px;
  padding-right:15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bufferbox{
  border: 10px solid white;
}