/* You can add global styles to this file, and also import other style files */
p.titlebox {
    border: 5px solid black;
    text-align: center;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    background:white;
}

buttonbox {
  border: 2px solid black;
  text-align: left;
  padding: 5px;
  width:auto;
  border-radius: 10px;
  box-shadow: 2px 4px 4px 0px  grey;
}

buttonbox2 {
  border: 2px solid black;
  text-align: left;
  padding: 5px;
  width:auto;
  border-radius: 10px;
  box-shadow: 2px 4px 4px 0px  #4a2699;
}

buttonboxpressed{
  border: 2px solid black;
  text-align: left;
  padding:5px;
  border-radius: 10px;
  box-shadow: inset 2px 4px 4px 0px  grey;
}

.column {
    float: left;
    padding: 10px;
    border: 10px solid #7c40ff;
    background:white;
  }
  
  .left {
    width: 17.5%;
    height: 1000px;
    line-height: 40px;
  }

  .middle {
    width: 40%;
    height: 810px;
  }

  .right{
    width: 30%;
    height: 385px;
    overflow: scroll;
  }

  .top {
    width: 74%;
    height: 150px;
    overflow:auto;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .log-in-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  .log-in-window.active{
    transform: translate(-50%, -50%) scale(1);
  }
  .log-in-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

  }
  .log-in-header .title{
    font-size: 1.25rem;
    font-weight: bold;

  }
  .log-in-header .log-in-close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .log-in-body{
    padding: 10px 15px;
  }
  #overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  #overlay.active{
    opacity: 1;
    pointer-events: all;
  }