<mdb-card>
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://twitter.com/bts_bighit" target="_blank" rel="noopener noreferrer"><mdb-icon fab icon="twitter"></mdb-icon> @BTS_BIGHIT</a>
        <a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://twitter.com/BTS_twt" target="_blank" rel="noopener noreferrer"><mdb-icon fab icon="twitter"></mdb-icon> @BTS_TWT</a>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text>
        Log in to see more tweets, more about how BTS is trending in your area, or world-wide!
        <p class="scroll-box">
          <span id="tweets">
          </span>
        </p>
        <script></script>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
