.scroll-box {
    overflow-y: scroll;
    height: 350px;
    padding: 1rem
}

blockquote{
    background-color: aqua;
}

#tweets{
    display: grid;
    grid-template-rows: repeat(10, 12%);
    grid-gap: 1em;
}