<mdb-card>
    <mdb-card-body>
        <mdb-card-title><a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX" target="_blank" rel="noopener noreferrer"><mdb-icon fab icon="spotify"></mdb-icon> BTS Spotify</a></mdb-card-title>
    <p style="text-align: center;">
        <iframe src="https://open.spotify.com/embed/artist/3Nrfpe0tUJi4K4DXYWgMUX" 
        width="300" height="390" frameborder="0" allowtransparency="true" 
        allow="encrypted-media"></iframe>
    </p>
    <mdb-card-text>Want to listen to more BTS? Head on over to their official Spotify! Or, log in to see more about how they're trending on Spotify.</mdb-card-text>
    </mdb-card-body>
    <!-- Height of card needs to stay at 390 in order to keep all tracks-->
  </mdb-card>
  